/*VARIABLE VERDE KAWASAKI*/
$color-verde: #01D608;

@media (min-width:320px) and (max-width: 425px) {

    .motocicletas {

        .motocicletasgrilla {

            grid-template-rows: repeat(3, 120px);



        }

        label {
            font-size: 0.7rem;
           
        }

        img {
            border: none;
            box-shadow: 0px 0px 10px 1px $color-verde;
            
        }
    }
}