/*TUVE PROBLEMAS CON ESTE BOOSTRAP. EL CAROUSEL DE LAS IMAGENES SIGUIENTES.
NO HE PODIDO MODIFICAR SU TAMAÑO DE LETRA, NI QUE SE MUETREN*/


@media (min-width:320px) and (max-width: 425px) {

    .menu2 {

        display: flex;
        justify-content: center;
        align-items: center;

        .carousel-inner {

            box-shadow: 0px 0px 10px 5px $color-verde;
            width: 300px;
            border-radius: 5px;

            .carousel-caption {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h5 {
                    font-size: 0.7rem;
                }

                p {
                    font-size: 0.7rem;
                }
            }
        }

    }
}