.menu2 {

    display: flex;
    justify-content: center;
    align-items: center;

    .carousel-inner {

        border: 2px solid greenyellow;
        width: 300px;

        .carousel-caption {
            display: flex;
            flex-direction: column;
            h5 {
                font-size: 0.6rem;

            }

            p {
                font-size: 0.7rem;
            }


        }

    }
}