footer {
    margin-top: 200px;

    p {

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgba(83, 83, 83, 0.459);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 5px solid #01D608;
        padding: 1%;
        
    }

}