@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/Kawasaki-principal.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.inicio1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.inicio1 .inicio {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  width: 800px;
  border: 5px solid #01D608;
  border-radius: 10px;
}
.inicio1 h1 {
  font-size: 3rem;
  padding-top: 20px;
  color: white;
  padding-bottom: 5px;
}
.inicio1 h2 {
  font-size: 1.7rem;
  color: white;
  padding-bottom: 5px;
}
.inicio1 p {
  color: white;
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.menu {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 50%;
}
.menu .listado {
  text-decoration: none;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 1rem;
  border: 5px solid #01D608;
  border-radius: 10px;
  padding: 5px;
}
.menu .listado:hover {
  background-color: black;
  color: #01D608;
}

.conteiner {
  display: flex;
  justify-content: center;
}
.conteiner .conteiner-intro {
  color: rgb(255, 255, 255);
  background-color: rgba(83, 83, 83, 0.459);
  border-radius: 10px;
  border: 5px solid #01D608;
  display: grid;
  margin: 5%;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 120px);
  grid-template-areas: "item1 item1 item2 item2" "item1 item1 item2 item2" "item3 item3 item2 item2" "item3 item3 item2 item2";
}
.conteiner .intro1 {
  grid-area: item1;
  align-items: center;
  justify-content: center;
}
.conteiner h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
  font-size: 2rem;
}
.conteiner p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 1.1rem;
}
.conteiner .intro2 {
  display: flex;
  grid-area: item2;
  align-items: center;
  justify-content: center;
}
.conteiner video {
  width: 99%;
  border-radius: 5px;
}
.conteiner .intro3 {
  grid-area: item3;
  align-items: center;
  justify-content: center;
}
.conteiner img {
  width: 100%;
  height: 100%;
}

/*VARIABLE VERDE KAWASAKI*/
footer {
  margin-top: 200px;
}
footer p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgba(83, 83, 83, 0.459);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #01D608;
  padding: 1%;
}

/*VARIABLE VERDE KAWASAKI*/
.historia {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.historia a {
  color: white;
  background-color: #01D608;
  text-decoration: none;
  padding: 0.5%;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.historia a:hover {
  color: black;
}

.menuhistoria {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuhistoria ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 50%;
}
.menuhistoria a {
  text-decoration: none;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 1rem;
  border: 5px solid #01D608;
  border-radius: 10px;
  padding: 5px;
}
.menuhistoria a:hover {
  color: #01D608;
}

.nombremenu1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.nombremenu1 .nombremenu {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #000000;
  border-radius: 10px;
  border: 5px solid #01D608;
  width: 500px;
}

.conteinerh {
  display: flex;
  justify-content: center;
}
.conteinerh .conteiner-h {
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 5%;
  width: 60%;
  font-size: 1.2rem;
  border: 5px solid #01D608;
}

/*VARIABLE VERDE KAWASAKI*/
/*MIXIN PARA EL GRID*/
/*--------------------------*/
.motocicletasgrilla {
  display: grid;
  margin: 10%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 400px);
  grid-template-areas: "grilla1 grilla2" "grilla3 grilla4" "grilla5 grilla6";
}
.motocicletasgrilla .grilla1 {
  grid-area: grilla1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.motocicletasgrilla label {
  color: white;
  border: 2px solid #01D608;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgba(116, 116, 116, 0.2274509804);
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 7px;
}
.motocicletasgrilla img {
  width: 80%;
  border-radius: 10px;
  border: 2px solid #01D608;
}
.motocicletasgrilla .grilla2 {
  grid-area: grilla2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.motocicletasgrilla .grilla3 {
  grid-area: grilla3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.motocicletasgrilla .grilla4 {
  grid-area: grilla4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.motocicletasgrilla .grilla5 {
  grid-area: grilla5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.motocicletasgrilla .grilla6 {
  grid-area: grilla6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*VARIABLE VERDE KAWASAKI*/
.titulocontacto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulocontacto h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  width: 30%;
  border: 5px solid #01D608;
}

.seccioncontacto {
  background-color: black;
  border: 5px solid #01D608;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 30px;
  margin: auto;
  width: 700px;
  height: 500px;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.seccioncontacto .formularioconsulta {
  border-radius: 10px;
  border: 5px solid grey;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.seccioncontacto .formularioconsulta h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 1.7rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 5px solid #01D608;
}
.seccioncontacto .formularioconsulta .botonconsulta {
  padding-top: 5px;
}
.seccioncontacto .formularioconsulta .botonconsulta button {
  border-radius: 5px;
  padding: 5px;
  align-items: center;
}
.seccioncontacto .formularioconsulta .botonconsulta button:hover {
  background-color: black;
  border: 2px solid #01D608;
  color: white;
}

/*VARIABLE VERDE KAWASAKI*/
.menu1 {
  display: flex;
  justify-content: center;
}
.menu1 .menu2 {
  width: 50%;
  padding-top: 5%;
}
.menu1 .menu2 .carousel-caption h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.7803921569);
  border-radius: 5px;
  font-size: 1.5rem;
}
.menu1 .menu2 p {
  color: white;
  background-color: rgba(0, 0, 0, 0.7803921569);
  border-radius: 5px;
  font-size: 1.2rem;
}

/*VARIABLE VERDE KAWASAKI*/
/*----------------*/
@media (min-width: 320px) and (max-width: 425px) {
  body {
    background-color: black;
    background-image: none;
    align-self: auto;
  }
  body .inicio1 {
    display: flex;
  }
  body .inicio1 .inicio {
    justify-content: center;
    align-items: center;
    border: 1px solid #01D608;
  }
  body .inicio1 .inicio h1 {
    font-size: 1.3rem;
  }
  body .inicio1 .inicio h2 {
    font-size: 0.7rem;
  }
  body .inicio1 .inicio p {
    font-size: 0.7rem;
  }
  body .menu ul {
    justify-content: center;
    align-items: center;
  }
  body .menu ul .listado {
    font-size: 0.6rem;
    border: 1px solid #01D608;
    display: flex;
    justify-content: space-between;
  }
  body .conteiner {
    padding-top: 10%;
  }
  body .conteiner .conteiner-intro {
    border: 1px solid #01D608;
    grid-template-columns: repeat(3, 75px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: "item2 item2 item2 item2" "item1 item1 item1 item1" "item3 item3 item3 item3";
  }
  body .conteiner .conteiner-intro .intro1 {
    grid-area: item1;
    align-items: center;
    justify-content: center;
  }
  body .conteiner .conteiner-intro .intro1 h1 {
    font-size: 1.3rem;
  }
  body .conteiner .conteiner-intro .intro1 p {
    font-size: 0.7rem;
    padding-top: 2%;
  }
  body .conteiner .conteiner-intro .intro2 {
    grid-area: item2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid #01D608;
  }
  body .conteiner .conteiner-intro .intro2 video {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  body .conteiner .conteiner-intro .intro3 {
    grid-area: item3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #01D608;
  }
  body .conteiner .conteiner-intro .intro3 img {
    width: 70%;
    height: 70%;
  }
  body footer {
    text-align: center;
    font-size: 0.6rem;
  }
  body footer p {
    border-top: 1px solid #01D608;
  }
}
/*VARIABLE VERDE KAWASAKI*/
@media (min-width: 320px) and (max-width: 425px) {
  .historia {
    display: flex;
  }
  .historia a {
    font-size: 0.6rem;
    color: black;
    padding: 2px;
  }
  .menuhistoria ul {
    justify-content: center;
    align-items: center;
  }
  .menuhistoria ul a {
    font-size: 0.6rem;
    border: 1px solid #01D608;
    display: flex;
    justify-content: space-between;
  }
  .nombremenu1 .nombremenu {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #01D608;
  }
  .conteinerh {
    display: flex;
    justify-content: center;
  }
  .conteinerh .conteiner-h {
    background-color: black;
    border: 1px solid #01D608;
  }
  .conteinerh .conteiner-h .classhistoria1 {
    font-size: 0.6rem;
  }
}
/*VARIABLE VERDE KAWASAKI*/
@media (min-width: 320px) and (max-width: 425px) {
  .motocicletas .motocicletasgrilla {
    grid-template-rows: repeat(3, 120px);
  }
  .motocicletas label {
    font-size: 0.7rem;
  }
}
/*VARIABLE VERDE KAWASAKI*/
@media (min-width: 320px) and (max-width: 425px) {
  .titulocontacto h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    width: 200px;
    border: 1px solid #01D608;
  }
  .seccioncontacto {
    border: none;
    width: 200px;
  }
  .seccioncontacto .formularioconsulta {
    width: 200px;
    border: 1px solid grey;
  }
  .seccioncontacto .formularioconsulta h4 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.3rem;
    border: 1px solid #01D608;
  }
}
/*TUVE PROBLEMAS CON ESTE BOOSTRAP. EL CAROUSEL DE LAS IMAGENES SIGUIENTES.
NO HE PODIDO MODIFICAR SU TAMAÑO DE LETRA, NI QUE SE MUETREN*/
@media (min-width: 320px) and (max-width: 425px) {
  .menu2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu2 .carousel-inner {
    border: 2px solid #01D608;
    width: 300px;
    border-radius: 5px;
  }
  .menu2 .carousel-inner .carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu2 .carousel-inner .carousel-caption h5 {
    font-size: 0.7rem;
  }
  .menu2 .carousel-inner .carousel-caption p {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=style.css.map */
